@import url(https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap);

#titolo {
    text-align: center;
    color: darkorange !important;
}
.informazioni {
    color: coral !important;
}
body {
    font-family: 'Indie Flower';
    background-color: beige !important;
}
p {
    font-size: 20px;
}
p em {
    font-size: 15px;
}
table {
    margin-top: 20px;
    border: 2px solid black;
    border-collapse: collapse;
    width: 50%;
}
td, th {
    border: 1px solid rgb(14, 13, 13);
    padding: 3px;
    text-align: center;
}