@import url(https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap);

#titolo {
    text-align: center;
    color: rgb(0, 38, 255);
}
.informazioni {
    color: rgb(229, 255, 80);
}
body {
    font-family: 'Indie Flower';
    background-color: rgb(221, 245, 220);
}
